* {
    transition: 0.3s;
}

body {
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.btn-wrapper {
    height: 80px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outter {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
}

.inner {
    background-color: transparent;
    border: 4px double black;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v--pill {
    width: 4px;
    height: 20px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
}

.h--pill {
    width: 20px;
    height: 4px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
}

.label {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    transform: translateX(-80%);
}


.bulb {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulb-circle {
    height: 60%;
    width: 60%;
    margin-bottom: 10px;
    border-radius: 100%;
    border: 8px solid rgb(154, 154, 154);
    background-color: rgb(241, 204, 38);
}

.bulb-pill {
    width: 30%;
    height: 13px;
    background-color: rgb(154, 154, 154);
    margin: 6px 0px;
    border-radius: 20px;
}